<div class="container-fluid footer">
<div class="container">
  <div class="row">
    <!--Nombre-->
    <div class="col-lg-5">
      <h1>IVAN VIDAL</h1>
    </div>
    <!--Menú-->
    <div class="col-lg-5">
      <a routerLink="">Home</a>
      <a routerLink="about">About</a>
      <a routerLink="contact">Contact</a>
    </div>
    <!--Redes sociales -->
    <div class="col-lg-2">
      <a href="https://www.facebook.com/ladivnavi/" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/vrivaans/" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="https://github.com/Vrivaans" target="_blank"><i class="bi bi-github"></i></a>
      <a href="https://www.linkedin.com/in/vrivaans/" target="_blank"><i class="bi bi-linkedin"></i></a>


    </div>
  </div>
  </div>
</div>
