<section class="section">
  <div class="container">
    <div class="container py-3 min-vh-100 d-flex flex-column">
      <div class="card shadow rounded-3 my-auto">
        <div class="card-header p-3 h4">Contactame</div>
        <div class="card-body p-4">
          <form role="form" class="row">
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="form-group-input"
                >Nombre</label
              >
              <input
                type="text"
                class="form-control"
                id="form-group-input"
                name="nombre"
              />
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="form-group-input"
                >Email</label
              >
              <input
                type="text"
                class="form-control"
                id="form-group-input"
                name="email"
              />
            </div>

            <div class="form-group col-lg-12">
              <label class="form-control-label" for="form-group-input"
                >Escriba...</label
              >
              <textarea
                class="form-control"
                id="form-group-input"
                name="notas"
                rows="6"
              ></textarea>
            </div>
            <div class="form-group col-lg-12">
              <button
                class="btn float-end mt-2"
                id="btnSend"
                for="form-group-input"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
