<section class="section" id="skillSection">
  <div class="container justify-content-center">
    <div class="row">
      <div>
        <h1 id="titleSkill" class="text-center">Habilidades y aptitudes</h1>
      </div>
      <div class="col-lg-2">
        <button
          type="button"
          class="btn btn-dark"
          data-bs-toggle="modal"
          data-bs-target="#newSkillModal"
          ng-click=""
          *ngIf="esta_logeado"
        >
          <i class="bi bi-pencil-fill"> Nueva skill</i>
        </button>
      </div>
      <!-- Modal -->

      <div
        class="modal fade"
        id="newSkillModal"
        tabindex="-1"
        aria-labelledby="newSkillModal"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="newSkillModal">
                Agregar nueva habilidad
              </h5>

              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="onClose()"
              ></button>
            </div>
            <div class="modal-body">
              <app-new-skill></app-new-skill>
            </div>

            <!-- <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
        >
          Cerrar
        </button>
        <button type="button" class="btn btn-primary">
          Guardar cambios
        </button>
      </div> -->
          </div>
        </div>
      </div>

      <div class="container">
        <table class="table mt-7">
          <tbody>
            <tr *ngFor="let Skill of skill">
              <td><img src="{{ Skill.iconHability }}" id="imgSkill" /></td>
              <td>
                <h2>{{ Skill.nameHability }}</h2>
              </td>

              <td>
                <div *ngIf="Skill.percentageHability <= 35">
                  <p>Nivel: Básico</p>
                </div>
                <div
                  *ngIf="
                    Skill.percentageHability > 35 &&
                    Skill.percentageHability <= 70
                  "
                >
                  <p>Nivel: Intermedio</p>
                </div>
                <div *ngIf="Skill.percentageHability > 70">
                  <p>Nivel: Avanzado</p>
                </div>
              </td>
              <!--Nivel:
              {{
                Skill.percentageHability
              }}-->
              <td *ngIf="esta_logeado">
                <button type="button" class="btn btn-light">
                  <i class="bi bi-pencil-fill"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="delete(Skill.id)"
                >
                  <i class="bi bi-trash3"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
