.h1, #titleSkill {
  font-family: 'PF Din Text Comp Pro X Thin', sans-serif;
  font-weight: bold;
  font-size: 90px;


}
h2{
  font-family: 'PF Din Text Comp Pro X Thin', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

img {
  max-width: auto;
  max-height: 90px;
}
td{
  border: 0px solid black;
}

p{
  font-family: 'PF Din Text Comp Pro X Thin', sans-serif;
  font-weight: bold;
  font-size: 30px;
}
h5{
  font-family: 'PF Din Text Comp Pro X Thin', sans-serif;
  font-weight: bold;
  font-size: 40px;
}
