<app-navbar></app-navbar>
<div class="page-content">
  <div class="mx-auto">
    <app-home></app-home>
  </div>
  <div class="mt-auto">
    <app-about></app-about>
  </div>
  <div class="mx-auto">
    <app-education></app-education>
  </div>
  <div class="mx-auto mt-15">
    <app-experience></app-experience>
  </div>
  <div class="mx-auto mt-15">
    <app-skill-component> </app-skill-component>
  </div>
  <!--
   <div class="mx-auto">
    <app-contact></app-contact>
  </div>
 -->
</div>
<div class="mx-auto">
  <app-footer></app-footer>
</div>
