<section class="section">
  <div class="container" id="divAbout">
    <div
      class="row justify-content-center align-items-center vh-100 mt-3 ms-2 mb-3"
    >
      <div class="section" id="about">
        <div class="row">
          <div
            class="col-sm-6 d-flex justify-content-center align-items-center"
          >
            <div
              id="fotoPerfil"
              class="d-flex justify-content-center align-items-center"
            >
              <div class="d-flex justify-content-center align-items-center">
                <img
                  src="../../../assets/foto-perfil-png1.png"
                  class="responsive"
                  alt=""
                />
              </div>
              <div class="modificar-foto d-flex justify-content-center">
                <div
                  *ngIf="
                    esta_logeado;
                    then modificarFotoPerfil;
                    else ocultarModificarFotoPerfil
                  "
                ></div>
                <ng-template #modificarFotoPerfil>
                  <button
                    type="button"
                    disabled
                    class="btn btn-dark"
                    data-bs-toggle="modal"
                    data-bs-target="#modificarDeFotoPerfil"
                    ng-click=""
                    (click)="editarFotoPerfil()"
                  >
                    <i class="bi bi-pencil-fill"></i>
                    Editar
                  </button>

                  <button
                    type="button"
                    disabled
                    class="btn btn-dark"
                    (click)="borrarFotoPerfil()"
                  >
                    <i class="bi bi-trash-fill"></i>
                    Eliminar
                  </button>
                </ng-template>
                <ng-template #ocultarModificarFotoPerfil></ng-template>
              </div>
            </div>
          </div>

          <!-- Modal -->

          <div
            class="modal fade"
            id="modificarDeFotoPerfil"
            tabindex="-1"
            aria-labelledby="modificarDeFotoPerfil"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5
                    class="modal-title text-center"
                    id="modificarDeFotoPerfil"
                  >
                    Modificar foto de perfil
                  </h5>

                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <p>no funciona aún</p>
                </div>

                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                  >
                    Cerrar
                  </button>
                  <button type="button" class="btn btn-primary">
                    Guardar cambios
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div id="divTexto">
              <h2>Acerca de mí</h2>
              <div>
                <p>
                  {{ descripcion.descripcion }}
                </p>
              </div>
              <div class="modificar-aboutMe d-flex justify-content-center">
                <div
                  *ngIf="
                    esta_logeado;
                    then modificarAboutMe;
                    else ocultarModificarAboutMe
                  "
                ></div>
                <ng-template #modificarAboutMe>
                  <button
                    type="button"
                    disabled
                    class="btn btn-dark"
                    ng-click=""
                    (click)="editarAboutMe()"
                  >
                    <i class="bi bi-pencil-fill"></i>
                    Editar
                  </button>
                  <button
                    type="button"
                    disabled
                    class="btn btn-dark"
                    (click)="borrarAboutMe()"
                  >
                    <i class="bi bi-trash-fill"></i>
                    Eliminar
                  </button>
                </ng-template>
                <ng-template #ocultarModificarAboutMe></ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
