
h2, p{
  font-family: 'PF Din Text Comp Pro X Thin', sans-serif;
  font-weight: bold;
}
h2{
  font-size: 90px;
  text-align: center;
}
p{
  font-size: 30px;
  text-align: center;
  top: 50%;
}
.responsive{
  max-width: 65%;
  height: auto;
}

