label{
  font-family: 'PF Din Text Comp Pro X Thin', sans-serif;
  font-weight: bold;
  font-size: 30px;
}
h5{
  font-family: 'PF Din Text Comp Pro X Thin', sans-serif;
  font-weight: bold;
  font-size: 40px;
}
