<div class="container">
  <div class="row">
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
      <div class="form-group">
        <label for="position">Indique la posición, o el cargo</label>
        <input
          type="text"
          class="form-control"
          id="position"
          name="position"
          [(ngModel)]="position"
          required
        />
      </div>
      <div class="form-group">
        <label for="startDate">Indique la fecha de inicio</label>
        <input
          type="text"
          class="form-control"
          id="startDate"
          name="startDate"
          [(ngModel)]="startDate"
          required
        />
      </div>
      <div class="form-group">
        <label for="endDate">Indique la fecha de finalización </label>
        <input
          type="text"
          class="form-control"
          id="endDate"
          name="endDate"
          [(ngModel)]="endDate"
          required
        />
      </div>
      <div class="form-group">
        <label for="photoUrl">Link de foto o ícono</label>
        <input
          type="text"
          class="form-control"
          id="photoUrl"
          name="photoUrl"
          [(ngModel)]="photoUrl"
        />
      </div>
      <br />
      <button
        class="btn btn-primary"
        data-bs-dismiss="modal"
        (click)="reLoadList()"
      >
        Agregar Experiencia
      </button>
    </form>
  </div>
</div>
